* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.navbg {
  position: fixed;
  top: 0px;
  opacity: 0.5;
  width: 100%;
  height: 100px;
  background-color: white;
}

nav {
  width: 100%;
  height: 100px;
}

body {
  background-image: url("mountains.jpg");
  background-color: white;
  height: 10000px;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 100%;
  background-position-y: top;
}

.logo {
  width: 50px;
  position: relative;
  right: 1850px;
  top: 20px;
}

.portt {
  text-align: center;
}

.youtube {
  position: relative;
  top: 100px;
  width: 1000px;
  height: 565px;
  border: solid cyan;
  border-radius: 20px;
}

.youtube:hover {
  position: relative;
  top: 100px;
  width: 1000px;
  height: 565px;
  border: solid darkblue;
  border-radius: 20px;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

ul {
  position: fixed;
  top: 0;
  right: 0px;
}

ul li {
  list-style: none;
  display: inline-block;
  line-height: 100px;
}

ul li a {
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 0 20px;
  display: block;
}

ul li a:hover {
  color: gray;
  font-size: 16px;
}

.Dennis {
  width: 300px;
  border: darkblue solid 5px;
  border-radius: 50px;
}
.Dennis:hover {
  width: 300px;
  border: gray solid 5px;
  border-radius: 50px;
}
