* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url("mountains.jpg");
  background-color: gray;
  height: 10000px;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 100%;
  background-position-y:top;

}

.wrapper {
  margin: 0 auto;
  width: 1000px;

}

.navbg {
  position: fixed;
  top: 0px;
  opacity: 0.5;
  width: 100%;
  height: 100px;
  background-color: white;
}

nav {
  width: 100%;
  height: 100px;
}

ul {
 position: fixed;
 top: 0;
}

ul li{
  list-style: none;
  display: inline-block;
 
  line-height: 100px;

}

ul li a{
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 0 20px;
  display: block;
}
ul li a:hover{
 color: gray;
 font-size: 16px;
}

.dennisimg {
  width: 300px;
  border: gray solid 5px;
  border-radius: 50px;
}

