body {
  margin: 0;
  background-image: url("Background.png");
  background-color: black;
}

#bakerPriceText {
  position: fixed;
  right: 10px;
  top: 80px;
}

#cookiePerClick {
  position: fixed;
  right: 10px;
  top: 120px;
}

#bakerAmount {
  position: fixed;
  right: 10px;
  top: 100px;
}

#save {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  position: fixed;
  background-color: #43ccd1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #137c80;
  right: 10px;
  bottom: 20px;
}
#save:active{
  background-color: #43ccd1;
  box-shadow: 0 5px #137c80;
  transform: translateY(4px);
}

#load {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  position: fixed;
  background-color: #43ccd1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #137c80;
  right: 120px;
  bottom: 20px;
}

#load:active{
  background-color: #43ccd1;
  box-shadow: 0 5px #137c80;
  transform: translateY(4px);
}

#Cookies {
  color: blue;
  position: fixed;
  right: 1000px;
  font-size: 100px;
}

.Cookie_button {
  width: 400px;
  position: fixed;
  top: 100px;
}
.Cookie_button:active {
  width: 410px;
}
.left_divde {
  width: 30px;
  position: fixed;
  object-fit: cover;
  height: 100%;
  left: 500px;
  top: 0px;
}

.auto {
  position: fixed;
  top: 200px;
  right: 20px;
  border: solid white 10px;
  border-radius: 10px;
}

#cps {
  position: fixed;
  right: 10px;
  top: 290px;
}

#costAutoCliker {
  position: fixed;
  right: 10px;
  top: 250px;
}

#amountAutoClick {
  position: fixed;
  right: 10px;
  top: 270px;
}

.right_divide {
  width: 30px;
  position: absolute;
  object-fit: cover;
  height: 100%;
  right: 400px;
  top: 0px;
}

.hirebaker {
  position: fixed;
  right: 10px;
  top: 10px;
  border: solid white 10px;
  border-radius: 10px;
}

#text {
  color: white;
  font-size: 50px;
  position: fixed;
  left: 80px;
}
