body{
    margin: 0;
    background-image: url("Background.png");
    background-color: #cccccc;
}

#bakerPriceText{
    position: fixed;
    right: 10px;
    top: 80px;
}

#cookiePerClick{
    position: fixed;
    right: 10px;
    top: 120px;
}

#bakerAmount{
    position: fixed;
    right: 10px;
    top: 100px;
}

#save{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    font-size: 40px;
    text-decoration: none;
    color: black;
    border: solid white 10px;
    border-radius: 20px;
}

#load {
    position: fixed;
    bottom: 10px;
    right: 120px;
    background-color: white;
    font-size: 40px;
    text-decoration: none;
    color: black;
    border: solid white 10px;
    border-radius: 20px;
}

#Cookies{
    color: blue;
    position: fixed;
    right: 1000px;
    font-size: 100px;
}

.Cookie_button {
    width:400px;
    position: fixed;
    top: 100px;
}
.Cookie_button:active {
    width:410px;
    
}
.left_divde {
    width: 30px;
    position: fixed;
    left: 400px;
    top: 0px;
}

.auto {
    position: fixed;
    top: 200px;
    right: 20px;
    border: solid white 10px;
    border-radius: 10px;
}

#cps{
    position: fixed;
    right: 10px;
    top: 290px;
}

#costAutoCliker{
    position: fixed;
    right: 10px;
    top: 250px;
}

#amountAutoClick{
    position: fixed;
    right: 10px;
    top: 270px;
}


.right_divide {
    width: 30px;
    position: fixed;
    right: 400px;
    top: 0px;
}

.hirebaker {
    position: fixed;
    right: 10px;
    top: 10px;
    border: solid white 10px;
    border-radius: 10px;
}


#text {
    color: white;
    font-size: 50px;
    position: fixed;
    left: 80px;
}